## Named tuple

In [1]:
t = (1,2,3)

In [3]:
t[0]

1

In [5]:
from collections import namedtuple

In [6]:
Dog = namedtuple('Dog','age name breed')

In [7]:
bruno = Dog(age=2,name='Bruno', breed='Golden retriever')

In [8]:
bruno

Dog(age=2, name='Bruno', breed='Golden retriever')

In [9]:
bruno.age

2

In [10]:
bruno.name

'Bruno'

In [14]:
bruno[2]

'Golden retriever'

In [15]:
Cat = namedtuple('Cat','fur claws name')

In [16]:
tay = Cat(fur=True,claws = 10,name='Taylor')

In [17]:
tay

Cat(fur=True, claws=10, name='Taylor')

In [18]:
 tay.name

'Taylor'