# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:
    
    Numbers can be denoted using two different data types. Integers and Floating point numbers. Integers described as int, and floating numbers as float.
    Integers are numbers which do not have a decimal point in it. They can be negative or positive. eg: 12
    Floating numbers are numbers which have a decimal point attached to it. They can be negative or positive. Floating numbers can be represented by attaching f at the end of the number. eg: 12.334

Strings:
    
    String is an ordered sequence of characters which is represented by writing them inside double quotes of single quotes. When string has a special symbol it can be represented using escape sequences. String has various methods which can be used to perform various operations on string. Slicing can be performed on strings. Strings are immutable.

Lists:
    
    List is an ordered sequence of elements which are mutable. Strings can be indexed and sliced. List can store data of different types. A list can contain another list inside it. List is written inside square brackets, separated by commas.
    
Tuples:

    Tuples are ordered sequence of elements which are mutable and which are written inside paranthesis. It can only have unique values in them. They can contain different lists or dictionaries inside it.
    
Dictionaries:
    
    Dictionaries are written in the form of key:value pairs where key is a string and value can be a number or string or even another dictionary. Dictionary elements can be called by just calling the key. User don't need to remember any index location of values to call a value. They written inside curly braces.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
(5** 2)/100 + ( 101 - 1)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    Answer: 44
    
    What is the value of the expression 4 * 6 + 5 
    Answer: 29
    What is the value of the expression 4 + 6 * 5 
    Answer: 34

In [5]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [52]:
# Square root:
25 ** 0.5

5.0

In [7]:
# Square:
5 ** 2

25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [17]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [19]:
# Method 2:

s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [20]:
# Method 1:
[0,0,0]

[0, 0, 0]

In [24]:
# Method 2:
s = []
s[0] = 0
s[1] = 0
s[2] = 0

IndexError: list assignment index out of range

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [26]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [27]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [30]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [36]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [41]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No we can not sort a dictionary because it does not have indexing locations instead it uses keys to uniquely identify values.

## Tuples

What is the major difference between tuples and lists?<br><br>
 
Tuples have less methods to do operation on tuples. Tuples are written inside paranthesis().

How do you create a tuple?<br><br>

t = (1,2,3)

## Sets

What is unique about a set?<br><br>
Sets are unordered list which can contain unique elements only.
Elements are inserted using add() method.

Use a set to find the unique values of the list below:

In [45]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5 = set(list5)

list5

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [46]:
# Answer before running cell
2 > 3

False

In [47]:
# Answer before running cell
3 <= 2

False

In [48]:
# Answer before running cell
3 == 2.0

False

In [49]:
# Answer before running cell
3.0 == 3

True

In [50]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [51]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!