In [1]:
mylist = [1,2,3,4]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [4]:
for num in range(0,100,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [8]:
ind = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(ind,letter))
    ind +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [9]:
word = 'pqrst'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
p


1
q


2
r


3
s


4
t

In [10]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [11]:
for num in zip(mylist1,mylist2):
    print(num)

(1, 'a')
(2, 'b')
(3, 'c')

In [12]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [13]:
's' in 'a quick brown fox jumps over the lazy dog'

True

In [14]:
d = {'ms':234,'qe':643}

In [15]:
234 in d

False

In [16]:
'ms' in d

True

In [19]:
234 in d.keys()

False

In [20]:
mylist = [10,20,30,40,50,60,70]

In [21]:
min(mylist)

10

In [22]:
max(mylist)

70

In [23]:
mylist =[1,2,3,4,5,6,7,8,9,10]

In [24]:
from random import shuffle

In [28]:
shuffle(mylist)

In [26]:
mylist

[8, 1, 6, 9, 5, 7, 10, 3, 4, 2]

In [29]:
mylist

[3, 5, 1, 10, 7, 9, 4, 8, 2, 6]

In [30]:
from random import randint

In [31]:
randint(1,100)

74

In [32]:
randint(2,4)

3

In [34]:
randint(1,30)

23

In [35]:
randint(1,6)

3

In [36]:
result = input('Enter your name here:  ')

Enter your name here:  Kaushal

result

In [37]:
result

'Kaushal'

In [38]:
no = input('Your number: ')

Your number: 23

In [39]:
no

'23'

In [40]:
int(no)

23

In [41]:
no

'23'

In [42]:
nums = int(no)

In [43]:
nums

23

In [44]:
int(input('Your marks: '))

Your marks: 94

94